@using DataModels;
@using LocationHelpers;
@model DataModels.LocationPartialModel;

@{

    DateTime currentDateTime = DateTime.Now;
    DateTime expiryDateTime = new DateTime(currentDateTime.Year, currentDateTime.Month, currentDateTime.Day + 1, 0, 0, 0);
}

<cache vary-by="@Model.LocationQuery" expires-on="@expiryDateTime">
    <div class="row">
        <div class="col-12">
            <p>Showing results for @(Model.LocationQuery).  You can also include a country in the search i.e. London, GB</p>
        </div>
    </div>
    @if (Model != null)
    {
        OpenWeatherAPIObject owmDataResponse = LocationHelper.GetOpenWeatherAPIObject(Model.LocationQuery,
        Model.ApiKey).Result;
        IEnumerable<List> resultList = owmDataResponse.list.GroupBy(x => x.dt_txt.Date).ToList().Select(x => x.Where(y => y.dt_txt.Hour >=12).First());
        if (Model.DaysToShow != null && Model.DaysToShow > 0)
        {
            resultList = resultList.Take(Model.DaysToShow.Value).ToList();
        }
        <div class="row gx-2 gy-2">
            @foreach (List owmResult in resultList)
            {
                if (owmResult.dt_txt != null)
                {
                    Weather weatherResponse = owmResult.weather.FirstOrDefault();
                    string weatherCode = weatherResponse.icon.Substring(0, 2);
                    string className = LocationHelper.GetWeatherClass(weatherCode);
                    string imageUrl = "/Assets/" + weatherCode + "d.svg";
                    string suffix = LocationHelper.GetDayNumberSuffix(owmResult.dt_txt);
                    <div class="col-lg-4 col-xl-3 col-md-6">
                        <div class="card h-100 pb-5 text-white text-center @className">
                            <div class="card-body py-5">
                                <p>@(owmResult.dt_txt.Date == DateTime.Now.Date ? "Today" : owmResult.dt_txt.Date.ToString("dddd"))
                                    @owmResult.dt_txt.Date.Day@suffix</p>
                                <img class="weather-image" src="@imageUrl" />
                                <p class="weather-heading">@weatherResponse.description.ToUpper()</p>
                                <p class="weather-celsius"><b>@(Math.Round(owmResult.main.temp))</b><span
                            class="weather-unit">°C</span>
                                </p>
                                <p class="weather-farenheight">@Math.Round((owmResult.main.temp * 9) / 5 + 32)°F</p>
                            </div>
                        </div>
                    </div>
                }
            }            
        </div>
    }
    else
    {
        <p>Sorry, no results for this search.</p>
        
    }
    <p>Last fetched @currentDateTime</p>
</cache>